h1{
    color: red;
    font-size: 60px;
    text-align: center;
    font-style:italic;
   
}
.paragraf{
    color: green;
    font-size: 30px;

}
.sana{
    color: saddlebrown;
    font-size: 10px;

}
.rasm{
    width: 100px;
    height: 100px;
}
div{
    background-color: black;
}
body{
    background-color: aqua;
}